.deps
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
pipe-reader
pipe-reader.o
pipe-writer
pipe-writer.o
pipeneg.o
stamp-h1
dls
dls.o
dpwd
dpwd.o
dresolve
dresolve.o
dtools.o
decho
decho.o
variant-writer.o
dcat
dcat.c
dcat.o
variant-reader.o
